body
  .page
    .div
      header.header
        .overlap-wrapper
          .overlap
            // Thanh tìm kiếm
            .tm-kim
              .overlap-group
                form(
                    id="form-search"
                    action="/search"
                    method="POST"
                )
                div(class="form-group d-flex mb-0")
                  input(
                    type="text"
                    placeholder="Nhập từ khóa..."
                    class="form-control"
                    name="keyword"
                    value=keyword
                  )
                  button(
                    type="submit"
                    class="btn btn-primary"
                  ) Tìm
                  img.search-icon(src="https://cdn.builder.io/api/v1/image/assets/TEMP/bdcb1192a0efb0f8b20182d2e1b1b241f73abf08859eafda65b26673bf16ae3c?placeholderIfAbsent=true&apiKey=f09d242d1ab24219b7bd88d8780e4a1c" alt="Search")
            // Nút đăng nhập và đăng ký
            .btn
              .ng-nhp
                .btn-ng-nhp
                  .div-wrapper
                    .text-wrapper-2
                      a(href="/user/login.pug") Đăng nhập
              .ng-k
                .btn-ng-k
                  .overlap-group-2
                    .text-wrapper-3 Đăng ký
            img.thumb-apple-watch(src="img/thumb-apple-watch-1.png")
        .overlap-group-wrapper
          .overlap-2
            .XH
              .text-wrapper-4 Xu hướng 2025
            .frame
              .menu
                .overlap-group-3
                  .text-wrapper-5 Menu
                  img.chevron-down(src="svg/Chevron Down.svg")
                  .dropdown
                    .dropdown-column
                      h3 Phổ biến nhất
                      ul
                        li Casio
                        li Michael Kors
                        li Fossil
                        li Citizen
                        li Daniel Wellington
                    .dropdown-column
                      h3 Hàng cao cấp
                      ul
                        li Rolex
                        li Cartier
                        li Omega
                        li Chanel
                        li Longines
                    .dropdown-column
                      h3 Dòng đặc biệt
                      ul
                        li Baby-G
                        li Casio Sheen
                        li Fossil Hybrid
                        li Swatch
                        li Tag Heuer
            .nam-wrapper
              .nam
                .overlap-group-4
                  .text-wrapper-6
                    | Nam
                    img.img(src="svg/Chevron Down.svg")
                    .dropdown
                      .dropdown-column
                        h3 Phổ biến nhất
                        ul
                          li Casio
                          li Michael Kors
                          li Fossil
                          li Citizen
                          li Daniel Wellington
                      .dropdown-column
                        h3 Hàng cao cấp
                        ul
                          li Rolex
                          li Cartier
                          li Omega
                          li Chanel
                          li Longines
                      .dropdown-column
                        h3 Dòng đặc biệt
                        ul
                          li Baby-G
                          li Casio Sheen
                          li Fossil Hybrid
                          li Swatch
                          li Tag Heuer
            .n-wrapper
              .n
                .overlap-group-5
                  .text-wrapper-7 Nữ
                  img.chevron-down-2(src="svg/Chevron Down.svg")
                  .dropdown
                    .dropdown-column
                      h3 Phổ biến nhất
                      ul
                        li Casio
                        li Michael Kors
                        li Fossil
                        li Citizen
                        li Daniel Wellington
                    .dropdown-column
                      h3 Hàng cao cấp
                      ul
                        li Rolex
                        li Cartier
                        li Omega
                        li Chanel
                        li Longines
                    .dropdown-column
                      h3 Dòng đặc biệt
                      ul
                        li Baby-G
                        li Casio Sheen
                        li Fossil Hybrid
                        li Swatch
                        li Tag Heuer
            .luxury
              .text-wrapper-8 Luxury
            .text-wrapper-9 Cũ cao cấp
            .text-wrapper-10 Treo tường